<ion-header translucent={true}>
  <ion-toolbar>
    <ion-title>Upcoming Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor = "let event of calendarEventList">
    <ion-card>
      <ion-item>
        <ion-icon name="alarm-outline" slot="start"></ion-icon>
        <ion-label>{{ event.startDateText}}</ion-label>
        <ion-button fill="outline" slot="end" color="danger" (click)="deleteOneEvent(event.id)">Remove</ion-button>
      </ion-item>
  
      <ion-item>Title: {{ event.titleText }}</ion-item>
      <ion-item>Location: {{ event.locationText }}</ion-item>
      <ion-item>Start Time: {{ event.startTimeText }}</ion-item>
      <ion-item>End Time: {{ event.endTimeText }}</ion-item>
      <!-- <ion-item>{{ event.id }}</ion-item> -->
    </ion-card>
  </div>

  <div *ngIf = "calendarEventList == ''; then empty else nonempty "></div>
  <ng-template #empty>
    <ion-text>
      &nbsp;
      <center>Whoops</center>
      <center>It seems you have not created any event yet</center>
      <center>Go and create one !</center>
    </ion-text>
  </ng-template>

  <ng-template #nonempty>
    &nbsp;
    <ion-button expand = "block" shape = "round" color="danger" (click)="deleteAllEvents()">Clear All Events</ion-button>
  </ng-template>

</ion-content>