<ion-header translucent={true}>
  <ion-toolbar>
    <ion-title>Upcoming Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-item>
      <ion-icon name="alarm-outline" slot="start"></ion-icon>
      <ion-label>May 24, 11:30 AM</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Start Time: 11:30 AM</ion-label>
      <ion-button fill="outline" slot="end" color="danger">Remove</ion-button>
    </ion-item>
    <ion-item>End Time: 12:30 AM</ion-item>
    <ion-item>Title: Developing Calendar</ion-item>
    <ion-item>Location: At Home</ion-item>
  </ion-card>


  <ion-card>

  </ion-card>

  <!-- <p>{{ calendarEvent.titleText }} </p>
  <p>{{ calendarEvent.locationText }} </p>
  <p>{{ calendarEvent.startDateText }}</p>
  <p>{{ calendarEvent.startTimeText }}</p>
  <p>{{ calendarEvent.endTimeText }}</p>
  <p>{{ calendarEvent.endDateText }}</p> -->


  <!-- <div *ngFor = "let event of calendarEventList">
    <p>{{ event.titleText }} </p>
    <p>{{ event.locationText }} </p>
    <p>{{ event.startDateText }}</p>
    <p>{{ event.startTimeText }}</p>
    <p>{{ event.endTimeText }}</p>
    <p>{{ event.endDateText }}</p>
  </div> -->


  <div *ngFor = "let event of calendarEventList">
    <ion-card>
      <ion-item>
        <ion-icon name="alarm-outline" slot="start"></ion-icon>
        <ion-label>{{ event.startDateText}}</ion-label>
        <ion-button fill="outline" slot="end" color="danger" (click)="deleteEvent(event.id)">Remove</ion-button>
      </ion-item>
  
      <ion-item>
        <ion-label slot = "start">Title: {{ event.titleText }}</ion-label>
      </ion-item>
      <ion-item>Location: {{ event.locationText }}</ion-item>
      <ion-item>Start Time: {{ event.startTimeText }}</ion-item>
      <ion-item>End Time: {{ event.endTimeText }}</ion-item>
      <ion-item>{{ event.id }}</ion-item>
    </ion-card>
  </div>


</ion-content>